body, html {
    background-color: gray;
    text-align: center;
}

.container {
    display: inline-block;
    font-size: 20px; 
    width: 70%; 
    padding: 25px;
    margin: 10px;
    background-color: white;
    color: grey;
}

.mid_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    width: 32.25%; 
    height: 100%;
    padding: 25px;
    margin: 10px;
    background-color: white;
    color: grey;
}

#innerBox {
    background-color: gray;
    color: white;
    width: 450px;
    height: 50px;
    padding-bottom: 90px;

}

.innerMostBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: grey;
    width: 400px;
    height: 20px;
    margin: 15px;
    padding: 5px;
}

#mid_container_right {
    padding-bottom: 140px;
}
